.playerPage {
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.player {
  box-sizing: border-box;
  border: 2px solid white;
  text-align: center;
  padding: 5px;
  background-color: rgb(126, 72, 6);
  border-radius: 5%;
}

#uploadButton {
}

#next-song {
  color: rgb(141, 210, 50);
  font-weight: 800;
}

audio::-webkit-media-controls-play-button {
  display: none;
}
